<div class="right-wrapper">
    <section class="content-header">
        <h1>问题管理</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 问题管理</a></li>
            <li class="active">问题编辑</li>
        </ol>
    </section>
    <section class="content">
        <div class="box item-ctn">
            <form id="defaultForm" action="">
                <div class="form-group">
                    <label>题目分数</label>
                    <input type="number" class="form-control" id="que-score" required>
                </div>
                <textarea class="textarea" id="que-ctn" placeholder="题目内容" required></textarea>
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary pull-right" id="addQueBtn">确定添加</button>
                </div>
            </form>
        </div>
    </section>
</div>
<script src="/onlineExamSystem/addQuestion.js"></script>

