<div class="right-wrapper markPage-wrapper">
    <section class="content-header">
        <h1>考试情况</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 考试情况</a></li>
            <li class="active">阅卷</li>
        </ol>
    </section>
    <section class="content answer-section">
        <div class="studentInfo">姓名：{{student.username}} / 学号：{{student.userId}}</div>
        <input id="studentId" value="{{student._id}}" hidden>
        <div class="item-number"></div>
        <div class="answer-wrap hide">
            <div class="item-ctn" id="item-ctn">
                <Label id="question-head"></Label>
                <Label id="que-score"></Label>
                <br>
                <label>题目内容</label>
                <div class="question-ctn" id="questionContent"></div>
                <label>答题内容</label>
                <div class="answer-ctn"><pre id="answerCtn"></pre></div>
                <label>给分</label>
                <input type="number" class="form-control" id="give-score" required>
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary pull-right" id="saveMarkBtn">确定</button>
                </div>
            </div>
        </div>
    </section>
</div>
<script src="/onlineExamSystem/markPaper.js"></script>

