<div class="right-wrapper studentList-page">
    <section class="content-header">
        <h1>最终成绩列表</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 考试情况</a></li>
            <li class="active">最终成绩列表</li>
        </ol>
    </section>
    <section class="content">
        <div class="studentList">
            <table class="table table-hover">
                <tbody id="student-table">
                <tr>
                    <th>序号</th>
                    <th>学号</th>
                    <th>姓名</th>
                    <th>成绩</th>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="box-footer footer-btn">
            <button type="submit" class="btn btn-primary" id="countBtn">统计成绩</button>
            <button type="submit" class="btn btn-primary pull-right" id="epGradeBtn">导出EXCEL文件</button>
        </div>
    </section>
</div>
<script src="/onlineExamSystem/studentGrade.js"></script>

