<section>
    <div class="chart">
        <!--各户型均价对比-->
        <div id="chart_1" style="width: 500px;height:400px;"></div>
        <!--各户型所占比例-->
        <div id="chart_2" style="width: 500px;height:400px;"></div>
        <div id="chart_3" style="width: 600px;height:400px;"></div>
        <div id="chart_4" style="width: 600px;height:400px;"></div>
        <!--各城区租金走势-->
        <div id="chart_5" style="width: 1000px;height:400px;"></div>
    </div>
</section>

<script src="/lib/jquery/jquery.min.js"></script>
<script src="/lib/echarts/echarts.min.js"></script>
<script src="/lib/echarts/theme/vintage.js"></script>
<script src="/lib/echarts/theme/dark.js"></script>
<script src="/lib/echarts/theme/shine.js"></script>
<script src="/js/main/common.js"></script>
<script src="/js/main/main.js"></script>
