<section>
    <div class="cm-hd">
        <h1 class="title">杭州租房市场情况分析</h1>
    </div>
    <div class="chart">
        <!--各区域带看次数对比-->
        <div id="chart_0" style="width: 500px;height:400px;"></div>
        <!--各户型均价对比-->
        <div id="chart_1" style="width: 500px;height:400px;"></div>
        <!--各户型所占比例-->
        <div id="chart_2" style="width: 500px;height:400px;"></div>
        <!--各城区当日均价-->
        <div id="chart_3" style="width: 600px;height:450px;"></div>
        <!--各城区租金走势-->
        <div id="chart_4" style="width: 1000px;height:450px;"></div>
        <!--带看量前20的小区租金-->
        <div id="chart_5" style="width: 1000px;height:600px;"></div>
        <!--各区域户型比例-->
        <div id="chart_6" style="width: 1000px;height:650px;"></div>
    </div>
    <div class="searchArea">
        <div class="cm-hd">
            <h1 class="title">输入小区名查询租金走势</h1>
        </div>
        <div class="searchInput">
            <div class="sidebar-form">
                <div class="input-group">
                    <input type="text" id="keyword" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-flat search-btn" id="searchBtn"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </div>
        </div>
        <div class="searchResult">
            <div id="searchChart" style="width: 1000px;height:400px;"></div>
        </div>
    </div>
</section>

<script src="/lib/highcharts/highcharts.js"></script>
<script src="/lib/highcharts/exporting.js"></script>
<script src="/js/main/common.js"></script>
<script src="/js/main/main.js"></script>
