<div class="content-wrapper blog-position">
	<section class="content ">
			<div class="blog-list blog-scroll">
				<!--<figure>-->
					<!--<img src="/img/login.png">-->
				<!--</figure>-->
				<ul>
					<h3 class="title">{{entries.title}}</h3>
					<div class="blog-list-ctn">{{{entries.content}}}</div>
					<span class="postdate">
						<b>{{timeFromNow entries.meta.createAt}}({{formatDate entries.meta.createAt}})</b>
					</span>
					<div class="menu-block read-back"><a href="/p/blogs" class="btn btn-primary btn-sm pull-left">返回</a></div>
				</ul>

			</div>
	</section>
</div>