<div class="login-wrap">
	<div class="login-box">
		<div class="login-img">
			<img src="img/login.png">
		</div>
		<div class="login-form">
			<div class="lgn-input">
				<form>
					<div class="input-prepend">
						<input ype="text" placeholder="邮箱/账户/手机号">
					</div>
					<div class="input-prepend">
						<input type="password" placeholder="密码">
					</div>
				</form>
				<div class="lgn-btn">
					<input type="submit" value="立即登录">
				</div>
			</div>
		</div>
	</div>
</div>