<div class="login-wrap">
	<div class="login-box">
		<div class="login-img">
			<img src="img/login.png">
		</div>
		<p class="login-box-msg text-red"></p>
		<div class="login-form">
			<div class="lgn-input">
				<form>
					<div class="input-prepend">
						<input type="text" placeholder="邮箱/账户/手机号" id="usr">
					</div>
					<div class="input-prepend">
						<input type="password" placeholder="输入密码" id="pwd">
					</div>
                    <div class="input-prepend">
                        <input type="password" placeholder="重复输入密码" id="pwd-repeat">
                    </div>
				</form>
				<div class="lgn-btn">
					<input type="submit" value="立即注册" id="registerBtn">
				</div>
                <div>
                    <a href="/">登录</a>
                </div>
			</div>
		</div>
	</div>
</div>