<div class="header-modal">
	<div class="content">
		<div class="container">
			<div class="main-header">
				<div class="author">站长</div>
				<div class="main-menu">菜单</div>
			</div>
			<div class="main-body row">
				<div class="col-md-4">
					<div class="row">
						<div class="col-md-12 about">作者简介</div>
						<div class="col-md-12 others">其他内容</div>
					</div>
				</div>
				<div class="col-md-8 main">
					<div class="row">
						<div class="col-md-12 main-carousel">图片轮播区域</div>
						<div class="col-md-12 main-list">模块化内容展示</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>