/*登录*/
/*body {*/
    /*padding: 0;*/
    /*background-color: rgba(52, 54, 66, 0.9) !important;*/
    /*!*background: url("../images/mb1.jpg") no-repeat;*!*/
    /*!*background-size: cover;*!*/
/*}*/
.login-page {
    display: flex;
    justify-content: center;
    align-items: flex-end!important;
    height: 600px;
    background-color: rgba(52, 54, 66, 0.9);
}
.login-wrap {
    width: 420px;
    height: 390px;
    background: #ffffff;
    border-radius: 5px;
}
.login-box {
    /*position: relative;*/
    width: 420px;
    height: 390px;
    /*margin: 100px auto;*/
    border: 1px solid #777;
    border-radius: 5px;
    background: #ffffff;
}
.reg-height {
    height: 450px!important;
}
.login-box-msg {
    position: absolute;
    width: 420px;
    color: red;
    font-family: "Microsoft YaHei UI";
    text-align: center;
}
.login-img img {
    width: 418px;
    height: 150px;
    border-radius: 5px 5px 0 0;
}
.lgn-header {
    margin-top: 60px;
    text-align:center;
    font-family: "微软雅黑";
}
.login-form {
    padding: 25px 40px 30px;
}
.input-prepend {
    display: flex;
    width: 100%;
    height: 36px;
    margin-bottom: 20px;
    border: 1px #ddd solid;
}
.input-field {
    flex: 4;
}
.input-icon {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 36px;
    background-color: rgba(0,0,0,0);
}
.input-prepend input {
    width: 308px!important;
    height: 36px;
    padding: 2px 0 0 30px;
}
.lgn-btn {
    margin-top: 20px;
    text-align: center;
}
.lgn-btn input {
    width: 340px;
    height: 38px;
    border: 1px solid #00a1d6;
    background-color: #00a1d6;
    border-radius: 4px;
    color: #fff;
    font-family: "微软雅黑";
}
.login-box .reg {
    height: 34px;
    padding-left: 10px;
    line-height: 34px;
    border-top: 1px #ddd solid;
    font-size: 17px;
    font-family: "Microsoft YaHei";
}
.login-box .reg a {
    color: #a49d8c;
}
.login-box .reg a:hover {
    color: #000;
    text-decoration: none;
}
/*主页*/
.friends-list,
.users-list {
    display: flex!important;
    align-items: center;
    height: 50px;
    padding: 18px;
    font-family: "Microsoft JhengHei";
    font-size: 20px;
}
.friends-list {
    cursor: pointer;
}
.users-list:hover,
.friends-list:hover {
    background-color: #3B4047;
}
.username {
    margin-left: 20px;
}
.users-list-r {
    width: 60px;
    height: 30px;
    margin-left: 60px;
    display: none;
    background-color: #3CAF36;
    border-radius: 3px;
}
.add-user {
    width: 60px;
    height: 30px;
    font-family: "Microsoft JhengHei";
    color: #fff!important;
}
a:hover {
    text-decoration: none!important;
}

.messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.messages li {
    padding: 5px 10px;
}
.messages li:nth-child(odd) {
    background: #eee;
}
.chat-box-l {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}
.chat-box-r {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}
.chat-p {
    position: relative;
    max-width: 72%;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    word-wrap: break-word;
    font-family: "Microsoft JhengHei";
    font-size: 20px;
    font-weight: 600;
    background-color: #badaf8;
    border: 1px solid #dddddd;
    border-radius: 5px;
}
.chat-user-img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}
.chat-box-r .chat-p {
    background-color: #4EC69A;
}
.chat-box-r .chat-p:after {
    position: absolute;
    right: -7px;
    top: 18px;
    width: 14px;
    height: 14px;
    background: #4ec69a;
    content: "";
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.chat-box-l .chat-p:after {
    position: absolute;
    left: -7px;
    top: 18px;
    width: 14px;
    height: 14px;
    background: #badaf8;
    content: "";
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
/*新的布局*/
body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    text-align: center;
}
.chat-room {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-basis: 1000px;
    height: 760px;
    margin-top: 100px;
}
.chat-sidebar {
    flex-basis: 280px;
    min-width: 200px;
    height: 760px;
    /*flex: 1;*/
    background-color: #2E3238;
}
.wrapper {
    width: 100%;
}
.mobile-sidebar {
    width: 40px;
    height: 100%;
    display: none;
    background-color: #2E3238;
}
.chat-box {
    flex-basis: 720px;
    height: 760px;
    background-color: #EEEEEE;
}
.sidebar-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 280px;
    height: 76px;
    padding: 18px;
    border-bottom: #26292E solid 1px;
}
.avatar .img {
    flex-basis: 44px;
    height: 44px;
    border-radius: 2px;
}
.user-info {
    flex-basis: 190px;
    height: 31px;
    margin-left: 10px;
    color: #fff
}
.nickname {
    height: 33px;
    margin: 0;
    padding: 0;
    font-family: "Microsoft JhengHei";
    font-weight: 600;
    font-size: 24px;
}
.sidebar-tab {
    width: 137px;
}
.tab-content {
    color: #fff;
}
.nav-tabs {
    background-color: #2E3238!important;
    border: #2E3238 solid 1px!important;
}
.fa-comment,
.fa-th-list {
    color: #fff;
}
.nav-tabs>li>a:hover,
.nav-tabs>li>a:hover i,
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus i,
.nav-tabs>li.active>a:hover i {
    color: #3CAF36!important;
    background-color: #2E3238!important;
}
.nav-tabs>li>a,
.nav-tabs>li>a:hover,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    border: #2E3238 solid 1px!important;
    border-bottom: #26292E solid 1px!important;
}
.chat-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.chat-default {
    font-family: "Microsoft JhengHei";
    font-size: 30px;
    font-weight: 900;
    color: #E1E1E1;
}
.chat-area {
    display: flex;
    width: 100%;
    flex-direction: column;
}
.box-hd {
    display: flex;;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 51px;
    padding-left: 20px;
    border-bottom: #D6D6D6 solid 1px;
}
.box-bd {
    width: 100%;
    height: 508px;
    border-bottom: #D6D6D6 solid 1px;
    overflow-y: auto;
}
.box-send {
    align-self: flex-end;
    width: 100%;
    height: 201px;
    display: none;
}
.info-friend {
    font-family: "Microsoft JhengHei";
    font-size: 20px;
    font-weight: 600;
}
.input-ctn {
    flex-basis: 718px;
    height: 180px;
}
.unread {
    display: none;
    width: 28px;
    height: 28px;
    margin-left: 30px;
    background-color: #3CAF36;
    border-radius: 14px;
    color: #2E3238;
    font-family: "Microsoft JhengHei";
    font-weight: 900;
}
.history-back,
.history-msg {
    width: 80px;
    height: 30px;
    padding: 5px;
    cursor: pointer;
    background-color: #3CAF36;
    color: #2E3238;
    font-size: 16px;
    font-family: "Microsoft JhengHei";
    font-weight: 900;
    border-radius: 5px;
    justify-content: flex-end;
}
@media (max-width: 720px) {
    .chat-room {
        margin-top: 0;
    }
}
@media (max-width: 450px) {
    .mobile-sidebar {
        display: block;
    }
    .chat-sidebar {
        display: none;
    }
    .sidebar-tab {
        width: 97px;
    }
}

/*qq表情*/
.emotion {
    display: block;
    width: 48px;
    height: 48px;
    float: left;
    background: url("../images/icon.png") no-repeat;
    cursor: pointer;
}
.qqFace {
    margin-top: 4px;
    top: 520px!important;
    background: #fff;
    padding: 2px;
    border: 1px #dfe6f6 solid;
}
.qqFace table td {
    padding: 0px;
}
.qqFace table td img {
    cursor: pointer;
    border: 1px #fff solid;
}
.qqFace table td img:hover {
    border: 1px #0066cc solid;
}
