<div class="right-wrapper">
    <section class="default-welcome">请点击题目序号进行答题</section>
    <section class="content hide answer-section">
        <div class="answer-wrap">
            <div class="item-ctn" id="item-ctn">
                <div class="question-head" id="question-head"></div>
                <div class="que-score" id="que-score"></div>
                <label>题目内容</label>
                <div class="question-ctn" id="questionContent"></div>
                <textarea class="textarea" id="answer-ctn" placeholder="在此输入答题内容"></textarea>
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary pull-right" id="saveAnswerBtn">保存</button>
                </div>
            </div>
        </div>
        <div class="box-footer answer-footer">
            <button type="submit" class="btn btn-primary" id="submitBtn">提交</button>
        </div>
    </section>
</div>