<div class="content-wrapper">
    <section class="content-header">
        <h1>
            文章分类管理
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>分类管理</a></li>
            <li class="active">新建分类</li>
        </ol>
    </section>
    <section class="content mobile-width">
		<div class="row">
        <div class="col-md-12">
			<div class="box">
				<form id="defaultForm" action="">
					<div class="box-header">
						<input type="text" class="form-control" id="categoryName" placeholder="文章类别" required>
					</div>
					<div class="box-footer">
						<button type="submit" class="btn btn-primary pull-right" id="addCategoryBtn">添加类别</button>
					</div>
				</form>
			</div>
        </div>
      </div>
    </section>
</div>

<script src="/lib/socket.io/socket.io.js"></script>
<script src="/blog/categoryCreate.js"></script>
<script src="/blog/common.js"></script>

