<!DOCTYPE html>
<html>
  <head>
    {{>head}}
  </head>
  <script>
      var socket = io();
  </script>
  <body>
  <div class="wrapper">
      {{>sidebar}}
      {{{body}}}
  </div>
  </body>
</html>
