<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    {{>head}}
  </head>
  <body class="hold-transition login-page">
    {{{body}}}
    <script src="chat/login.js"></script>
    <script src="chat/register.js"></script>
  </body>
</html>