<!DOCTYPE html>
<html lang="zh-CN">
<head>
    {{>head}}
</head>
<body class="home-page">
    <div class="wrapper">
        {{>sidebarStudent}}
        {{{body}}}
    </div>
</body>
<script src="/onlineExamSystem/student/student.js"></script>
<script src="/onlineExamSystem/common.js"></script>
</html>
