<!DOCTYPE html>
<html lang="zh-CN">
<head>
    {{>head}}
</head>
<body class="home-page">
    {{>header}}
    <div class="wrapper">
        {{>sidebar}}
        {{{body}}}
    </div>
    {{>footer}}
</body>
</html>