body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  text-decoration: none;
}
input[type="text"], input[type="password"], textarea {
  background: rgba(255, 255, 255, 0.75);
  border: 1px solid #ddd;
  color: #867f6f;
}